$comcol:rgb(255, 71, 108);
$blue:rgb(6, 6, 135);
$font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
*{
    margin: 0%;
}
body{
    background-color: white;
    transition: ease 1s;
    overflow-x: hidden;
    a{
        text-decoration: none;
        color: unset;
    }
    button{
        cursor: pointer;
    }
    nav{
        width: 100%;
        height: max-content;
        position: fixed;
        transition: ease 1s;
    header{
        width: 100%;
        padding: 20px 0px;
        background-color: transparent;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:1.2vw;
        .logo{
            width: 20%;
            background-color: transparent;
            height: 50px;
            display: inline-block;
            margin: 2%;
            img{
                width: 100%;
                height: inherit;
            }
        }
        .menu,.spec{
            padding: 10px 0px;
            display: inline-block;
            position: relative;
            margin: 2%;
            ul{
                list-style: none;
                word-spacing: 30px;
                
                
                li{
                    display: inline-block;
                    word-spacing: normal;
                    transition: ease 0.3s;
                    text-decoration:underline 1.5px double $blue;
                    .ul{
                        position: absolute;
                        text-align: left;
                        background-color: white;
                        padding: 15px;
                        color: black;
                        text-transform: capitalize;
                        box-shadow: 0px 0px 8px black;
                        display: none;
                        line-height: 200%;
                        p:hover{
                            color: red;
                        }
                    }
                }
                li:hover{
                    color: red;
                    cursor: pointer;
                }

            }
        }
        .spec{
            background-color: blue;
            color: white;
            margin-right: 0%;
            padding:10px 20px;
            border-radius: 5px;
        }
        .menu-btn{
            background-color: blue;
            color: white;
            margin: 0% 0% 0% 10%;
            padding:10px;
            display: none;
            border-radius: 5px;
            width: max-content;
            height: max-content;
        }
        .mini-menu{
            overflow-y: scroll;
            position: absolute;
            width: max-content;
            background-color: white;
            max-height: 200px;
            height: max-content;
            float: right;
            right: 2%;
            line-height: 200%;
            padding: 20px 40px;
            box-shadow: 0px 0px 3px black;
            display: none;
            margin: auto;
            font-size: 300%;
            a{
                text-decoration: none;
                color: unset;
                transition: 0.5s ease;
            }
            .active{
                text-decoration: underline;
                text-decoration-color:red;
                text-decoration-thickness: 3px;
                transition: 0.5s ease;
            }
            p{
                cursor: pointer;
            }
            
                .mini-ul{
                    display: none;
                    background-color: $blue;
                    text-align: left;
                    text-transform: capitalize;
                    padding: 10px;
                    color: white;
                    box-shadow: 0px 0px 8px black;
                }
            
        }
        @media screen and (max-width:1000px){
            .menu-btn{
                display: inline-block;
            }
            
            .spec{
                font-size: 3vw;
                
                width: max-content;
            }
            .menu{
                display: none;
            }
            .logo{
                width: 36%;
                
            }
        
        }
    }
}
.body{
    height: max-content;
    width: 100%;
    font-family: $font;
    position: absolute;
    .slider{
        width: 100%;
        height: 550px;
        overflow: hidden;
        position: relative;
        .img{
            position: absolute;
            width: 400%;
            height: 550px;
            display: inline-flex;
            justify-content: space-between;
            img{
                width: 25%;
                height: 100%;
                position: relative;
                transition: ease 1s;
            }
        }
        .imgtxt{
            position: relative;
            margin: auto;
            text-align: center;
            padding: 250px 0px;
            button{
                padding: 12px 22px;
                border: 0;
                font-weight: bold;
                font-size: 120%;
                background-color: red;
                color: $blue;
                box-shadow: 0px 0px 10px $blue;
            }
        }
        
    }
    @media screen and (max-width:600px){
        .slider{
            height: 350px;
            .imgtxt{
                position: relative;
                margin: auto;
                text-align: center;
                padding: 175px 0px;
                button{
                    padding: 10px 20px;
                }
            }
        }
    }
    .vc-section{
        
        padding: 10px 0px;
        width: 85%;
        background-color: white;
        margin: auto;
        height: max-content;
        form{
            width:100%;
            height: 60px;
            margin: auto;
            display: inline-flex;
            justify-content: space-between;
            box-shadow: 0px 5px 10px #000000;
            background-color: transparent;
            .text{
                width: 80%;
                height: inherit;
                border: 0;
                background-color: white;
                color: black;
                font-size: larger;
                outline: 0px solid transparent;
            }
            .submit{
                width: 20%;
                height: 62px;
                border: 1px;
                background-color: white;
                cursor: pointer;
                outline: 0px solid transparent;
            }
            input::placeholder{
                font-family: $font;
                font-weight: bold;
            }
        }
        .flex{
            margin-top: 20px;
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            height: max-content;
            font-weight: bold;
            
            .vc-flex{
                width: 15%;
                text-align: center;
                padding: 40px 2%;
                background-color: red;
                border-radius: 5px;
                color: $blue;
                img{
                    width: 50%;
                    height: 80px;
                }
                p{
                    font-size: 1.5vw;
                }
                
            }
        }
        @media screen and (max-width:600px) {
            .flex{
                display:unset;
                justify-content: unset;
                .vc-flex{
                    text-align: center;
                    width:70%;
                    padding: 40px 15%;
                    font-size: 80%;
                    margin-top: 10px;
                    font-size: 5vw;
                    p{
                        font-size: 5vw;
                    }
                }
                
            }
        }
        .recent-news{
            margin: 15px 0px;
            padding: 10px 0px;
            color: white;
            .post{
                background-color:$blue;
                width: 100%;
                padding: 18px 5px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                display: inline-flex;
                transition: ease 1s;
                animation: col 5s infinite;
                cursor: pointer;
                .left-out{
                    display: inline-block;
                    width:max-content;
                    margin: 0px 10px;
                .left{
                    display: inline-flex;
                    justify-content: space-between;
                    width: 60px;
                    color: white;
                    .line{
                        width: 2px;
                        height: 50px;
                        background-color: white;
                    }
                } 
            }
            .text{
                display: inline-block;
                margin-left:0px 50px;
                
            }
        }
        .vc-speech{
            background-color: white;
            margin: 10px 0px;
            display: inline-flex;
            justify-content: space-between;
            height: max-content;
            width: 100%;
            .vc-img{
                height: 350px;
                width: 25%;
                background-color: transparent;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .vc-text{
                background-color: transparent;
                width: 60%;
                height: max-content;
                margin: 1% 2%;
                font-family:Georgia, 'Times New Roman', Times, serif;
                color: black;
                h1{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                p{
                    font-size: 130%;
                }

                button{
                    padding: 15px 25px;
                    border: 0;
                    font-weight: bold;
                    background-color:$blue;
                    color: red;
                }
            }
        }
        @media screen and (max-width:600px) {
            .vc-speech{
                display: block;
                justify-content: unset;
                .vc-img{
                    width: 100%;
                    height: 400px;
                }
                .vc-text{
                    width: 100%;
                }
            }
        }
    }
}
.study-path{
    background-color: $blue;
    padding: 40px 0px;
    text-align: center;
    p{
        color: red;
    }
    h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
    .study-path-flex{
        padding-top: 50px;
        width: 85%;
        margin: auto;
        display: inline-flex;
        justify-content: space-between;
        perspective: 100ppx;
        .path-flex{
            width: 30%;
            height: max-content;
            background-color: white;
            color: $blue;
            text-align: center;
            box-shadow: 0px 0px 8px red;
            transition: ease 0.5s;
            img{
                width: 100%;
                height: 280px;
            }
            .flex-text{
                width: 80%;
                margin: auto;
                color: $blue;
            text-align: left;
            padding: 10px 0px 30px 0px;
            p{
                color: $blue;
            }
            }
            button{
                padding: 10px;
                bottom: 23px;
                position:relative;
                background-color: red;
                color: $blue;
                border: 0px;
                font-weight: bold;
                box-shadow: 0px 0px 8px black;
                border-radius: 5px;
                font-size: 110%;
            }
        }
        .path-flex:hover{
            transform: translateY(-15px);
        }
    }
    @media screen and (max-width:600px){
        .study-path-flex{
            display: block;
            justify-content: unset;
            .path-flex{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
    .path-more{
        margin-top: 30px;
        button{
            padding:10px 30px;
            border: 0px;
            background-color: $blue;
            color: red;
            font-weight: bold;
            font-size: 110%;
        }
    }
}
.testimonial{
    width: 95%;
    margin: auto;
    height: max-content;
    padding: 20px 0px;
    text-align: center;
    h1{
        color: $blue;
    }
    .testimonial-row{
        display: inline-flex;
        justify-content:space-evenly;
        margin: 10px 0%;
        .testimonial-col{
        }
        .test-img{
            width: 10%;
            height: max-content;
            background-color: transparent;
            padding: 10px;
            img{
                width: 100%;
                height: 110px;
            }
        }
        .test-txt{
            width: 65%;
            text-align: left;
        }
    }
}
@media screen and (max-width:600px){
    .testimonial{
        .testimonial-row{
            display: block;
        justify-content:unset;
        .test-img{
            width: 100%;
            img{
                height: 200px;
            }
        }
        .test-txt{
            width: 100%;
        }
        }
    }

}

footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
    margin-top: 50px;
    hr{
        background-color: green;
        width: 95%;
        height: 1px;
        margin: auto;
    }
    .copy-write{
        padding: 40px 0px;
        color: white;
        width: 95%;
        margin: auto;
    }
    .newsletter{
        background-color: white;
        box-shadow: 0px 0px 10px black;
        width: 80%;
        margin: auto;
        height: max-content;
        padding: 5px 0px;
        position: relative;
        bottom: 50px;
        .news-mail{
            width: 60%;
            height: 82px;
            border: 0;
            outline: 0;
            background-color: white;
            font-size: 150%;
            font-weight: bold;
        }
        .news-mail::placeholder{
            font-family: cursive;
            font-size: 100%;
            text-align: center;
        }
        .news-submit{
            width: 38%;
            height: 82px;
            border: 0;
            outline: 0;
            background-color: white;
        }
    }
    .footer-row{
        color: white;
        height: max-content;
        width: 100%;
        display: inline-flex;
        justify-content: space-evenly;
        .footer-col{
            height: max-content;
            width: max-content;
            max-width: 23%;
            padding:20px 1%;
            img{
                width: 80px;
                height: 60px;
            }
            .line{
                width: 50px;
                height: 2px;
                background-color: red;
            }
            p{
                margin: 15px 0px;
                i{
                    font-size: 130%;
                }
            }
            i{
                font-size: 200%;
                padding: 0px 10px;
            }
        }
    }
    @media screen and (max-width:800px){
        .footer-row{
        display: unset;
        justify-content: unset;
        .footer-col{
            max-width: 98%;
            padding:20px 1%;}
        }
        .newsletter{
            width: 90%;
        }
    }
}
//body class ends
}
}